
<div class="markdown">
	<div class="content">
		{{markdown-to-html class="guide-markdown" markdown=(fr-markdown-file-strip-number-prefix 'contributing/frost-guide')}} 
 	</div>
	 <div class='right-col'> 
		<div id='markdown-sidenav'>

 			{{#scroll-to}} Generation {{/scroll-to}}
 			<p {{action "goTo" "#links" on="click"}}> Links</p>
 			<p {{action "goTo" "#thirdexample" on="click"}}> Third Example</p>
		</div>
	</div>
</div>

