
<div class="md">
	<div class="content">
		{{markdown-to-html class="guide-markdown" ghCodeBlocks=true markdown=(fr-markdown-file-strip-number-prefix 'contributing/frost-guide')}} 
	</div>
	<div class='right-col'>
		<div id='md-scrollspy'>
			{{#scroll-to to="#editinganexistingpage"}} Editing an Existing Page{{/scroll-to}}
			{{#scroll-to to="#addinganewpage"}} Adding a New Page{{/scroll-to}}
			{{#scroll-to to="#editingscrollspytabs"}} Editing Scrollspy Tabs{{/scroll-to}}
			{{#scroll-to to="#thisheaderwouldappearinthescrollspy"}} This header would appear in the scrollspy{{/scroll-to}}
			{{#scroll-to to="#thisheaderwouldappearinthescrollspy"}} This header would appear in the scrollspy {{/scroll-to}}
			{{#scroll-to to="#creatingcomponentpages"}} Creating component pages{{/scroll-to}}
			{{#scroll-to to="#runanewbuild"}} Run a new build{{/scroll-to}}
		</div>
	</div>
</div>