<div class="markdown">
	<div class="content">
		{{markdown-to-html class="guide-markdown" ghCodeBlocks=true markdown=(fr-markdown-file-strip-number-prefix 'contributing/frost-guide')}} 
 	</div>
	 <div class='right-col'> 
		<div id='markdown-sidenav'>

 			<p {{action "goTo" "#generation"}}> Generation</p>
 			<p {{action "goTo" "#links"}}> Links</p>
 			<p {{action "goTo" "#thirdexample"}}> Third Example</p>
		</div>
	</div>
</div>
