
<div class="md">
	<div class="content-col">
		{{markdown-to-html class="guide-markdown" ghCodeBlocks=true markdown=(fr-markdown-file-strip-number-prefix 'contributing/frost-guide')}} 
		{{#scroll-spy}}
			{{#scroll-to id="#editinganexistingpage" class="h2"}} Editing an Existing Page{{/scroll-to}}
			{{#scroll-to id="#addinganewpage" class="h2"}} Adding a New Page{{/scroll-to}}
			{{#scroll-to id="#editingscrollspytabs" class="h2"}} Editing Scrollspy Tabs{{/scroll-to}}
			{{#scroll-to id="#creatingcomponentpages" class="h2"}} Creating Component Pages{{/scroll-to}}
			{{#scroll-to id="#updatingcomponentpages" class="h2"}} Updating Component Pages{{/scroll-to}}
			{{#scroll-to id="#addingimages" class="h2"}} Adding images{{/scroll-to}}
		{{/scroll-spy}}
	</div>
	<div class='footer'>
		<div class='info'>
			<div>
				<div class='contributors'>
					<span class="footerHeading">Contributors</span><div class='contributors-list'>Justin Lafleur - Eric White</div>
			</div>
			<div class='connect'>
				<span class="footerHeading"></span>
					 
				</div>
			</div>
			<br/>
		</div>
		<div class='copyright'>
			
		</div>
	</div>
</div>