@import 'frost-theme';
@import 'frost-core';

// Everything larger than portrait phone
@mixin phone-portrait-and-up {
  @media only screen and (min-width: 425px + 1) {
    @content;
  }
}

.dummy-notification-container {
  position: fixed;
  top: 60px;
  right: 10px;
  z-index: 1060;
  width: 80%;
  max-width: 400px;
  margin: auto;
}

.dummy-body {
  padding: 0 20px;
}

pre {
  margin: 0;
}

.dummy-body.link {
  .example .snippet {
    width: 305px;
    margin: 5px 0 10px 0;
  }
}

.section-title {
  font-size: $frost-font-xl;
  margin-bottom: 15px;
}
.section {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  width: calc(100vw - 250px);

  > .title {
    font-size: $frost-font-xl;
    padding-bottom: 20px;
  }

  .example {
    padding-right: 50px;
    padding-bottom: 10px;

    > .title {
      font-size: $frost-font-l;
      padding-bottom: 5px;
    }

    .snippet {
      display: inline-block;
      font-size: $frost-font-s;
      margin-right: 20px;
      margin-top: -5px;
      vertical-align: top;
    }

    .demo {
      display: block;
      vertical-align: top;
      .actions{
        margin-top: 5px;
      }
    }
  }
}


