@import 'node_modules/ember-frost-css-core/scss/frost-core';

.dummy-notification-container {
  position: fixed;
  top: 60px;
  right: 10px;
  z-index: 999;
  width: 80%;
  max-width: 400px;
  margin: auto;
}

.frost-tabs.iframe {
  .navigation {
    display: none;
  }
}
