@import 'frost-theme';
@import 'frost-core';

html, body {
  font-family: $frost-font-family;
  color: rgb(102, 102, 102);
}

.dummy-notification-container {
  position: fixed;
  top: 60px;
  right: 10px;
  z-index: 999;
  width: 80%;
  max-width: 400px;
  margin: auto;
}

.frost-checkbox {
  display: block;
}

.section {
  float: left;
  padding-right: 30px;
}

th, td {
  padding: 5px;
  text-align: left;
  vertical-align: middle;
}

.example {
  display: table;
  vertical-align: middle;
  .title {
    display: table-row;
    font-size: $frost-font-m;
    font-weight: bold;
  }
  .demo, .code {
    display: table-cell;
    font-size: $frost-font-xs;
    vertical-align: middle;
    padding: 15px;
  }
}
