.guide {
  height: 100%;
  @include display(flex);
  @include flex-direction(row);
  font-family: 'Roboto', sans-serif;
}

.guide .frost-button,
.guide .frost-link {
  font-family: 'Roboto', sans-serif;
}

.guide-sidebar {
  min-height: 100%;
  height: 1px;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  > .liquid-child {
    height: 100%;
    > .content {
      width: 100%;
      height: 100%;
      background-color: $frost-color-white;
    }
    > .content.media-desktop {
      width: 250px;
    }
  }
}
.guide-sidebar-mobile {
  position: absolute;
  height: 100%;
  z-index: 2;
  background-color: $frost-color-white;
}

.guide-content {
  position: relative;
  z-index: 1;
  @include flex(1);
  @include display(flex);
  @include flex-direction(column);
}

.guide-content .frost-info-bar {
  background-color: $frost-color-blue-1;
  min-height: 90px;
}

.footer, .push {
clear: both;
}
.guide-content .frost-info-bar .title .primary-title {
  color: $frost-color-white;
}

.guide-content .frost-info-bar .title .sub-title {
  color: $frost-color-white;
  font-size: 90%;
  text-transform: capitalize;
}

.guide-content .frost-info-bar .action .frost-select {
  width: 100px;
}

.guide-content > .frost-scroll {
  @include flex(1);
}

.guide-content .content-col {
  padding-bottom: 20px;
}

.guide-content .guide-markdown {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.guide-content .demo {
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
  overflow-x: scroll;
}
@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
  /* IE10+ specific styles go here */
  .guide-content .demo {
    overflow-x: visible;
  }
}
.guide-content .demo >:first-child {
  position: relative;
}

.tabs__bar--justified {
  margin-top: 3px;
}

.guide.media-mobile {}

.breadcrumbs {
  padding-left: 0;
  list-style: none;
}

.breadcrumb-item {
  color: $frost-color-white;
  &:nth-child(1) {
    display: inline-block;
    margin-bottom: 10px;
    font-size: $frost-font-size-1;
  }
  &:nth-child(2) {
    display: inline-block;
    margin: 0 0 10px 10px;
    padding-left: 10px;
    border-left: 1px solid $frost-color-lgrey-2;
    font-size: $frost-font-size-1;
  }
  &:last-child {
    display: block;
    margin: 0 0 20px 0;
    padding: 0;
    border: none;
    font-size: $frost-font-size-4;
  }
}

.frost-tabs--active {
  min-height: 500px;
}


  .md {
    float: left;
    width: 100%;
  }
  .md .content-col {
    float: left;
    width: 65%;
  }
  .md .right-col {
    float: left;
    width: 35%;
  }
@media (max-width: 600px) {
  .md .right-col {
    display: none;
  }
  .md .content-col {
    width: 100%;
  }
}

.frost-button > .text {
  min-width: 0px !important;
}

#md-scrollspy {
  width: 100%;
  position: fixed;
  margin-top: 20px;
  margin-left: 20px;
}

#md-scrollspy button {
  width: 100%;
  text-align: left;
  background-color: white;
  border: none;
  outline: 0;
  white-space: normal;
  border-left: 2px solid white;
  padding: 5px;
}

#md-scrollspy button:first-child {
  font-weight: bold;
  border-left: 2px solid #009EEF;
}

#md-scrollspy button:hover {
  font-weight: bold;
  border-left: 2px solid #009EEF !important;
}

.frost-link {
  text-align: left !important;
}


/*
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  .guide-content .guide-markdown {
    overflow-x: scroll;
  }
}


