@import 'bourbon';
@import 'frost/variables';
@import 'frost/app';
@import 'frost/patterns';

@import 'whirly';

@import './application';
@import './introduction';
@import './api-ember-frost-button';
@import 'app/pods/components/frost-navigation-sidebar-category/styles';
@import 'app/pods/components/frost-navigation-sidebar-menu/styles';
@import 'app/pods/components/frost-sidebar/styles';
@import 'app/pods/components/guide-coming-soon/styles';

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: $frost-color-grey-3;
}

.guide-markdown {
  pre {
  padding: 10px;
  background-color: $frost-color-lgrey-3;
  }
}

.guide-content {
  .frost-tabs {
  @include flex(1);
  @include display(flex);
  @include flex-direction(column);

  .content {
    @include flex(1);
    @include display(flex);
    @include flex-direction(column);

    .frost-tab {
    @include flex(1);
    @include display(flex);
    @include flex-direction(column);
    }
  }
  }

  .guide-iframe {
  @include flex(1);
  @include display(flex);
  @include flex-direction(column);
  }

  .api,
  .demo {
    .guide-iframe iframe {
      @include flex(1);
      width: 100%;
      border: none;
    }
  }

  .description {
  @include flex(1);
  @include display(flex);
  @include flex-direction(column);

  .guide-iframe iframe {
    @include flex(1);
    width: 900px;
    border: none;
  }
  }
}

.footer {
  height: 4em;
  clear: both;
  background-color: $frost-color-blue-1;
}

.footer .info{
  color: $frost-color-white;
}
