@import 'bourbon';
@import 'frost/variables';
@import 'frost/app';
@import 'frost/patterns';
@import 'frost-core';
@import 'frost-theme';
@import 'whirly';
@import './api-ember-frost-app-bar';
@import './api-ember-frost-login';
@import './api-ember-frost-bunsen';
@import './api-ember-frost-navigation';
@import './api-ember-frost-css-core';
@import './api-ember-frost-theme';
@import './api-ember-frost-modal-input';
@import './api-ember-frost-sort';
@import './api-ember-frost-textarea';
@import './api-ember-frost-about-dialog';
@import './api-ember-frost-password';
@import './api-ember-frost-loading';
@import './api-ember-frost-info-bar';
@import './api-ember-frost-notifier';
@import './api-ember-frost-link';
@import './api-ember-frost-list';
@import './api-ember-frost-checkbox';
@import './api-ember-frost-text';
@import './api-ember-frost-icons';
@import './api-ember-frost-select';
@import './application';
@import './introduction';
@import './api-ember-frost-tabs';
@import './api-ember-frost-scroll';
@import './api-ember-frost-button';
@import './contributing';
@import 'app/pods/components/frost-navigation-sidebar-category/styles';
@import 'app/pods/components/frost-navigation-sidebar-menu/styles';
@import 'app/pods/components/frost-sidebar/styles';
@import 'app/pods/components/guide-coming-soon/styles';
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: $frost-color-grey-3;
}

.guide-markdown {
  pre {
    padding: 10px;
    background-color: $frost-color-lgrey-3;
  }
}

.guide-content {
  width: calc(100% - 220px);
  .frost-tabs {
    @include flex(1);
    @include display-box;
    @include flex-direction(column);
    .content-col {
      @include flex(1);
      @include display(flex);
      @include flex-direction(column);
      .frost-tab {
        @include flex(1);
        @include display(flex);
        @include flex-direction(column);
      }
    }
  }
  .guide-iframe {
    @include flex(1);
    @include display(flex);
    @include flex-direction(column);
  }
  #api,
  #demo {
    .guide-iframe iframe {
      @include flex(1);
      width: 100%;
      border: none;
    }
  }
  .description {
    @include flex(1);
    @include display(flex);
    @include flex-direction(column);
    .guide-iframe iframe {
      @include flex(1);
      width: 900px;
      border: none;
    }
  }
}

.footer {
  background-color: $frost-color-blue-1;
  width: 100%;
  min-width: 400px;
  color: $frost-color-white;
  clear: both;
  visibility: hidden;
  line-height: 20px;
}

.footer .info {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  padding-bottom: 10px;
  font-size: 18px;
  background-color:
  $frost-color-blue-1;
}

.footer .info br {
  clear: left;
}

.footer .copyright {
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  background-color: darken($frost-color-blue-1, 4%);
}

.footerHeading {
  display: block;
  margin: 0 0 10px 0;
  padding: 10px;
  border: none;
  font-size: 29px;
}

.contributors {
  @media (min-width: 400px) {
    float: left;
    width: 60%;
    padding-right: 15px;
  }
  padding-top: 10px;
}

.connect {
  @media (min-width: 400px) {
    padding-left: 15px;
    float: left;
    width: 40%;
  }
  padding-top: 10px;
}

.connect >:first-child{
  float: right;
}

.connect .footerHeading{
  text-align: right;
}

.connect .footerHeading + div{
  padding: 10px;
}

.contributors table {
  font-size: 16px;
  width: 100%;
}

.contributors table td {
  width: 33%
}

.contributors .contributors-list{
  padding-left: 10px;
}

.frost-tabs .tab-nav .tab {
  background-color: transparent;
}

.gh-button{
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #e5e5e5;
  background-color: #f5f5f5;
  text-decoration : none;
}

.gh-button img{
  vertical-align: middle;
}

.gh-button span{
  vertical-align: middle;
  padding-left: 5px;
  font-size: 18px;
  color: #404041;
  font-weight: 500;
}

@media only screen and (max-width: 565px){
  .gh-button span{
    display: none;
  } 
}


/*
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
  table {
    overflow-x: auto;
    display: block;
  }
}
