
<div class="md">
	<div class="content">
		{{markdown-to-html class="guide-markdown" ghCodeBlocks=true markdown=(fr-markdown-file-strip-number-prefix 'overview/roadmap')}} 
	</div>
	<div class='right-col'>
		<div id='md-scrollspy'>
			{{#scroll-to to="#allowcontribution"}}Allow contribution:{{/scroll-to}}
			{{#scroll-to to="#createausefulpatternobjectbrowser"}}Create a useful pattern (object browser):{{/scroll-to}}
			{{#scroll-to to="#createasmallapp"}}Create a small app:{{/scroll-to}}
			{{#scroll-to to="#formcomponentfillout"}}Form component fill-out:{{/scroll-to}}
			{{#scroll-to to="#patternfillout"}}Pattern fill-out:{{/scroll-to}}
			{{#scroll-to to="#componentfillout"}}Component fill-out:{{/scroll-to}}
			{{#scroll-to to="#idebonus"}}IDE bonus:{{/scroll-to}}
			{{#scroll-to to="#componentbonus"}}Component bonus:{{/scroll-to}}
		</div>
	</div>
</div>
<div class='footer'>
	<div class='info'>
		<div>
			<div class='contributors'>
				<span class="footerHeading">Contributors</span>Justin Lafleur - 
		</div>
		<div class='connect'>
			<span class="footerHeading">Connect</span>
				 Github Button here 
			</div>
		</div>
		<br/>
	</div>
	<div class='copyright'>
		© 2016 Ciena-Frost, All rights reserved.
	</div>
</div>