
<div class="md">
	<div class="content-col">
		{{markdown-to-html class="guide-markdown" ghCodeBlocks=true markdown=(fr-markdown-file-strip-number-prefix 'overview/roadmap')}} 
		{{#scroll-spy}}
			{{#scroll-to id="#priority" class="h3"}}Priority:{{/scroll-to}}
			{{#scroll-to id="#backlog" class="h3"}}Backlog:{{/scroll-to}}
		{{/scroll-spy}}
	</div>
	<div class='footer'>
		<div class='info'>
			<div>
				<div class='contributors'>
					<span class="footerHeading"></span><div class='contributors-list'></div>
			</div>
			<div class='connect'>
				<span class="footerHeading"></span>
					 
				</div>
			</div>
			<br/>
		</div>
		<div class='copyright'>
			
		</div>
	</div>
</div>