<div class='footer'>
    <div class='info'>
        <div>
          <div class='contributors'>
            <span class="footerHeading"></span>
            <div class='contributors-list'></div>
          </div>
          <div class='connect'>
            <div>
              <div class="footerHeading"></div>
              <div class="gh-link"></div>
            </div>
          </div>
        </div>
        <br/>
    </div>
    <div class='copyright'></div>
</div>