
<div class="markdown">
	<div class="content">
		{{markdown-to-html class="guide-markdown" ghCodeBlocks=true markdown=(fr-markdown-file-strip-number-prefix 'development/learning')}} 
	</div>
	<div class='right-col'>
		<div id='markdown-sidenav'>
			{{#scroll-to to="#overview"}} Overview{{/scroll-to}}
			{{#scroll-to to="#community"}} Community{{/scroll-to}}
		</div>
	</div>
</div>