@import 'frost/variables';
@import 'frost/app';

.demo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 40px;

  .entry {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;

    .title {
      margin-bottom: 5px;
    }

    .content {
      background: repeating-linear-gradient(
          45deg,
          rgba(0, 97, 250, 0.5),
          rgba(0, 33, 245, 0.55) 5px,
          rgba(12, 0, 240, 0.6) 5px,
          rgba(17, 0, 235, 0.65) 5px
      );
    }
  }

  .frost-svg {
    width: 250px;
    height: 50px;
    padding: 10px;
  }
}

.frost-tabs.iframe {
	.navigation {
		display: none;
	}
}
