<div class="contributor-profile">
  {{#link-to "contributing.contributors"}}
  {{frost-button
    icon = 'frost/back'
    priority='primary'
    size='medium'
    vertical=vertical
  }}
  {{/link-to}}

  {{contributor-details model=model}}
</div>

