@import 'bourbon';
@import 'frost/variables';
@import 'frost/app';
@import 'frost/patterns';

.dummy-notification-container {
	position: fixed;
	top: 60px;
	right: 10px;
	z-index: 1060;
	width: 80%;
	max-width: 400px;
	margin: auto;
}

.dummy-body {
	@include display(flex);
	@include flex-direction(row);
}

.dummy-navigation {

}

.dummy-content {
	@include flex(1);
}

.dummy-input {
	width: 800px;
}

.dummy-header {
	padding: 20px 0 10px 20px;
	font-weight: bold;
}

.dummy-padding {
	padding: 20px 0 0 20px;
}

.dummy-gap {
	width: 5px;
}

.dummy-svg-huge {
	width: 1000px;
	height: 1000px;
	background-color: purple;
}

.frost-tabs.iframe {
  .navigation {
	display: none;
  }
}
