.guide-coming-soon {
	margin-top: 20px;
	@include display(flex);
	@include flex-direction(column);
	@include justify-content(center);
	@include align-items(center);
}

.guide-coming-soon .frost-svg.icon {
	margin-top: 10px;
	width: 150px;
}

.guide-coming-soon .frost-svg.text {
	margin-top: 30px;
	width: 300px;
}

.guide-coming-soon .frost-link {
	margin-top: 10px;
}
