<div class="markdown-sidebar">
{{#frost-sidebar}}

<h1{{action "goTo" "#bottom"}}> Go to bottom of page</h1>

  {{/frost-sidebar}}
</div>
{{markdown-to-html class="guide-markdown" markdown=(fr-markdown-file-strip-number-prefix 'terminology')}}
<div id="bottom"></div>