
<div class="markdown">
	<div class="content">
		{{markdown-to-html class="guide-markdown" ghCodeBlocks=true markdown=(fr-markdown-file-strip-number-prefix 'terminology')}} 
	</div>
	<div class='right-col'>
		<div id='markdown-sidenav'>
			{{#scroll-to to="#tableofcontents"}} Table of Contents{{/scroll-to}}
			{{#scroll-to to="#generation"}} Generation{{/scroll-to}}
			{{#scroll-to to="#links"}} Links{{/scroll-to}}
			{{#scroll-to to="#thirdexample"}} Third Example{{/scroll-to}}
		</div>
	</div>
</div>