
<div class="md">
	<div class="content-col">
		{{markdown-to-html class="guide-markdown" ghCodeBlocks=true markdown=(fr-markdown-file-strip-number-prefix 'overview/vision')}} 
	</div>
	<div class='right-col'>
		<div id='md-scrollspy'>
			{{#scroll-to to="#consistency"}} Consistency{{/scroll-to}}
			{{#scroll-to to="#community"}} Community{{/scroll-to}}
			{{#scroll-to to="#convention"}} Convention{{/scroll-to}}
			{{#scroll-to to="#abstraction"}} Abstraction{{/scroll-to}}
		</div>
	</div>
	<div class='footer'>
		<div class='info'>
			<div>
				<div class='contributors'>
					<span class="footerHeading">Contributors</span>Justin Lafleur
			</div>
			<div class='connect'>
				<span class="footerHeading"></span>
					 
				</div>
			</div>
			<br/>
		</div>
		<div class='copyright'>
			
		</div>
	</div>
</div>