
<div class="md">
	<div class="content-col">
		{{markdown-to-html class="guide-markdown" ghCodeBlocks=true markdown=(fr-markdown-file-strip-number-prefix 'overview/vision')}} 
		{{#scroll-spy}}
			{{#scroll-to id="#whatisfrost" class="h1"}} What is Frost?{{/scroll-to}}
			{{#scroll-to id="#generaltools" class="h3"}} General tools{{/scroll-to}}
			{{#scroll-to id="#appcomponentsandpatterns" class="h3"}} App components and patterns{{/scroll-to}}
			{{#scroll-to id="#whereisfrostgoing" class="h1"}} Where is Frost going?{{/scroll-to}}
			{{#scroll-to id="#visualdesignconventions" class="h3"}} Visual design conventions{{/scroll-to}}
			{{#scroll-to id="#languageconventions" class="h3"}} Language conventions{{/scroll-to}}
			{{#scroll-to id="#extendingbeyondcorecomponents" class="h3"}} Extending beyond core components{{/scroll-to}}
			{{#scroll-to id="#robustnessanddevelopersupport" class="h3"}} Robustness and developer support{{/scroll-to}}
			{{#scroll-to id="#suggestionsideas" class="h1"}} Suggestions? Ideas?{{/scroll-to}}
		{{/scroll-spy}}
	</div>
	<div class='footer'>
		<div class='info'>
			<div>
				<div class='contributors'>
					<span class="footerHeading">Contributors</span><div class='contributors-list'>Steven Glanzer - Justin Lafleur - Eric White</div>
			</div>
			<div class='connect'>
				<span class="footerHeading"></span>
					 
				</div>
			</div>
			<br/>
		</div>
		<div class='copyright'>
			
		</div>
	</div>
</div>