
<div class="md">
	<div class="content-col">
		{{markdown-to-html class="guide-markdown" ghCodeBlocks=true markdown=(fr-markdown-file-strip-number-prefix 'overview/vision')}} 
		{{#scroll-spy}}
			{{#scroll-to id="#goals" class="h1"}}Goals{{/scroll-to}}
			{{#scroll-to id="#consistency" class="h2"}} Consistency{{/scroll-to}}
			{{#scroll-to id="#community" class="h2"}} Community{{/scroll-to}}
			{{#scroll-to id="#convention" class="h2"}} Convention{{/scroll-to}}
			{{#scroll-to id="#abstraction" class="h2"}} Abstraction{{/scroll-to}}
		{{/scroll-spy}}
	</div>
	<div class='footer'>
		<div class='info'>
			<div>
				<div class='contributors'>
					<span class="footerHeading">Contributors</span><div class='contributors-list'>Justin Lafleur - Eric White</div>
			</div>
			<div class='connect'>
				<span class="footerHeading"></span>
					 
				</div>
			</div>
			<br/>
		</div>
		<div class='copyright'>
			
		</div>
	</div>
</div>