
<div class="md">
	<div class="content">
		{{markdown-to-html class="guide-markdown" ghCodeBlocks=true markdown=(fr-markdown-file-strip-number-prefix 'development/notes')}} 
	</div>
	<div class='right-col'>
		<div id='md-scrollspy'>
			{{#scroll-to to="#ides"}} IDEs{{/scroll-to}}
			{{#scroll-to to="#[visualstudiocode](https://code.visualstudio.com/)"}} [Visual Studio Code](https://code.visualstudio.com/){{/scroll-to}}
			{{#scroll-to to="#[webstorm](https://www.jetbrains.com/webstorm/)"}} [WebStorm](https://www.jetbrains.com/webstorm/){{/scroll-to}}
		</div>
	</div>
</div>