
<div class="md">
	<div class="content">
		{{markdown-to-html class="guide-markdown" ghCodeBlocks=true markdown=(fr-markdown-file-strip-number-prefix 'development/notes')}} 
	</div>
	<div class='right-col'>
		<div id='md-scrollspy'>
			{{#scroll-to to="#ides"}} IDEs{{/scroll-to}}
		</div>
	</div>
</div>