
<div class="md">
	<div class="content-col">
		{{markdown-to-html class="guide-markdown" ghCodeBlocks=true markdown=(fr-markdown-file-strip-number-prefix 'design-patterns/object-browser/list')}} 
		{{#scroll-spy}}
			{{#scroll-to id="#whentouse" class="h1"}} When to use{{/scroll-to}}
			{{#scroll-to id="#uxuicomponents" class="h1"}} UX / UI components{{/scroll-to}}
			{{#scroll-to id="#interactiondesign" class="h1"}} Interaction design{{/scroll-to}}
			{{#scroll-to id="#changingviews" class="h2"}} Changing views{{/scroll-to}}
		{{/scroll-spy}}
	</div>
	<div class='footer'>
		<div class='info'>
			<div>
				<div class='contributors'>
					<span class="footerHeading">Contributors</span><div class='contributors-list'>Justin Lafleur</div>
			</div>
			<div class='connect'>
				<span class="footerHeading"></span>
					 
				</div>
			</div>
			<br/>
		</div>
		<div class='copyright'>
			
		</div>
	</div>
</div>