<div class="md">{{#frost-tabs on-change=(action 'tabSelected') selection=selectedTab}}
	{{#frost-tab alias='Description' class='description' id='description'}}
		{{markdown-to-html ghCodeBlocks=true tables=true class="guide-markdown" markdown=(fr-markdown-file-strip-number-prefix 'ui-components/content-views/sort')}}
		{{#scroll-spy}}
		{{/scroll-spy}}
	{{/frost-tab}}
	{{#frost-tab alias='API' id='api'}}
		  {{markdown-to-html ghCodeBlocks=true tables=true class="guide-markdown" markdown=(fr-markdown-api-file 'ui-components/content-views/sort/README')}}
		{{#scroll-spy}}
			{{#scroll-to id="#emberfrostsort" class="h1"}} ember-frost-sort{{/scroll-to}}
			{{#scroll-to id="#installation" class="h2"}} Installation{{/scroll-to}}
			{{#scroll-to id="#api" class="h2"}} API{{/scroll-to}}
			{{#scroll-to id="#examples" class="h2"}} Examples{{/scroll-to}}
			{{#scroll-to id="#development" class="h2"}} Development{{/scroll-to}}
			{{#scroll-to id="#setup" class="h3"}} Setup{{/scroll-to}}
			{{#scroll-to id="#developmentserver" class="h3"}} Development Server{{/scroll-to}}
			{{#scroll-to id="#testing" class="h3"}} Testing{{/scroll-to}}
		{{/scroll-spy}}
	{{/frost-tab}}
	{{#frost-tab alias='Demo' id='demo'}}
		<div><div class="dummy-notification-container">
  {{#each notifications as |notification|}}
    {{notification-message notification=notification}}
  {{/each}}
</div>

<div class="dummy-body">
  <div class="dummy-content">
    <div class="row container">Frost sort demo</div>
{{frost-sort sortableProperties=tableSortList on-change=(action 'sortRecords') sortParams=sortOrder}}


  </div>
</div></div>

	{{/frost-tab}}
{{/frost-tabs}}
	<div class='footer'>
		<div class='info'>
			<div>
				<div class='contributors'>
					<span class="footerHeading">Contributors</span><div class='contributors-list'>Gosia Hyndman - Matthew Dahl - Steven Glanzer - Justin Lafleur - ember-tomster - Eric White</div>
			</div>
			<div class='connect'><div>
				<div class="footerHeading">Connect</div>
					 <div><a href="https://github.com/ciena-frost/ember-frost-sort" class="gh-button"><img src="assets/images/gh-icon.png" width='20' height='20'><span>View on Github</span></a></div></div>
				</div>
			</div>
			<br/>
		</div>
		<div class='copyright'>
			
		</div>
	</div>
</div>