
<div class="md">
	<div class="content-col">
		{{markdown-to-html class="guide-markdown" ghCodeBlocks=true markdown=(fr-markdown-file-strip-number-prefix 'UI-components/input-fields/checkbox')}} 
		{{#scroll-spy}}
			{{#scroll-to id="#summary" class="h2"}} Summary{{/scroll-to}}
			{{#scroll-to id="#behaviors" class="h3"}} Behaviors{{/scroll-to}}
			{{#scroll-to id="#usageguidelines" class="h2"}} Usage guidelines{{/scroll-to}}
			{{#scroll-to id="#visualspecification" class="h2"}} Visual specification{{/scroll-to}}
		{{/scroll-spy}}
	</div>
	<div class='footer'>
		<div class='info'>
			<div>
				<div class='contributors'>
					<span class="footerHeading">Contributors</span><div class='contributors-list'>Steven Glanzer</div>
			</div>
			<div class='connect'>
				<span class="footerHeading"></span>
					 
				</div>
			</div>
			<br/>
		</div>
		<div class='copyright'>
			
		</div>
	</div>
</div>