<div class="md">{{#frost-tabs on-change=(action 'tabSelected') selection=selectedTab}}
	{{#frost-tab alias='Description' class='description' id='description'}}
		{{markdown-to-html ghCodeBlocks=true tables=true class="guide-markdown" markdown=(fr-markdown-file-strip-number-prefix 'design-conventions/typography')}}
	{{/frost-tab}}
	{{#frost-tab alias='API' id='api'}}
		  {{markdown-to-html ghCodeBlocks=true tables=true class="guide-markdown" markdown=(fr-markdown-api-file 'design-conventions/typography/README')}}
	{{/frost-tab}}
	{{#frost-tab alias='Demo' id='demo'}}
		<div>{{outlet}}<div class='header-2'>Typography</div>
<div class='swatches'>
  <div class='swatch'><div class='content text'>$frost-font-family</div><div class='content font-family-1'>Roboto</div></div>
  <div class='swatch'><div class='content text'>$frost-font-family fallback 1</div><div class='content font-family-2'>Arial</div></div>
  <div class='swatch'><div class='content text'>$frost-font-family fallback 2</div><div class='content font-family-3'>sans-serif</div></div>

  <div class='swatch'><div class='content text'>$frost-font-xxxl</div><div class='content font-xxxl'>XXXL Font Size</div></div>
  <div class='swatch'><div class='content text'>$frost-font-xxl</div><div class='content font-xxl'>XXL Font Size</div></div>
  <div class='swatch'><div class='content text'>$frost-font-xl</div><div class='content font-xl'>XL Font Size</div></div>
  <div class='swatch'><div class='content text'>$frost-font-l</div><div class='content font-l'>L Font Size</div></div>
  <div class='swatch'><div class='content text'>$frost-font-m</div><div class='content font-m'>M Font Size</div></div>
  <div class='swatch'><div class='content text'>$frost-font-s</div><div class='content font-s'>S Font Size</div></div>
  <div class='swatch'><div class='content text'>$frost-font-xs</div><div class='content font-xs'>XS Font Size</div></div>
</div>
</div>

	{{/frost-tab}}
{{/frost-tabs}}
	<div class='footer'>
		<div class='info'>
			<div>
				<div class='contributors'>
					<span class="footerHeading">Contributors</span>Adam Meadows - Matthew Dahl - Steven Glanzer - Matthew Dahl - Adam Meadows - Roxanne - Justin Lafleur - chrisstoll - Gosia Hyndman - Eric White
			</div>
			<div class='connect'>
				<span class="footerHeading">Connect</span>
					 <a href="https://github.com/ciena-frost/ember-frost-theme" class="gh-button"><img src="assets/images/gh-icon.png" width='20' height='20'><span>View on Github</span></a> 
				</div>
			</div>
			<br/>
		</div>
		<div class='copyright'>
			
		</div>
	</div>
</div>