
<div class="markdown">
	<div class="content">
		{{markdown-to-html class="guide-markdown" ghCodeBlocks=true markdown=(fr-markdown-file-strip-number-prefix 'design-patterns/forms')}} 
	</div>
	<div class='right-col'>
		<div id='markdown-sidenav'>
		</div>
	</div>
</div>