@import 'bourbon';
@import 'frost';

.dummy-notification-container {
  position: fixed;
  top: 60px;
  right: 10px;
  z-index: 999;
  width: 80%;
  max-width: 400px;
  margin: auto;
}

.dummy-body {
  @include display(flex);
  @include flex-direction(row);
}

.dummy-content {
  @include flex(1);
}
.dummy-padding {
  margin: 10px;
  @include display(flex);
}

.dummy-alternate {
  @include display(flex);
  @include flex-direction(row);
}

.dummy-text {
  width: 75%;
  font-size: 14px;
}

.dummy-info {
	font-size: 12px;
}

th, td {
  padding: 5px;
  text-align: left;
  vertical-align: top;
}

.frost-tabs.iframe {
	.navigation {
		display: none;
	}
}
