
<div class="md">
	<div class="content">
		{{markdown-to-html class="guide-markdown" ghCodeBlocks=true markdown=(fr-markdown-file-strip-number-prefix 'data-visualization/network-objects')}} 
	</div>
	<div class='right-col'>
		<div id='md-scrollspy'>
		</div>
	</div>
</div>
<div class='footer'>
	<div class='info'>
		<div>
			<div class='contributors'>
				<span class="footerHeading">Contributors</span>Justin Lafleur - 
		</div>
		<div class='connect'>
			<span class="footerHeading">Connect</span>
				 Github Button here 
			</div>
		</div>
		<br/>
	</div>
	<div class='copyright'>
		© 2016 Ciena-Frost, All rights reserved.
	</div>
</div>