<div style='padding: 20px;'>
  <p>We're still looking for a good way to track Frost defects across projects.</p>
  <p>Have a defect (or a suggestion on how to manage this)?  Send a message to the #frost slack channel.</p>
</div>