
<div class="md">
	<div class="content-col">
		{{markdown-to-html class="guide-markdown" ghCodeBlocks=true markdown=(fr-markdown-file-strip-number-prefix 'development/addon')}} 
		{{#scroll-spy}}
			{{#scroll-to id="#projectstructure" class="h2"}} Project structure{{/scroll-to}}
			{{#scroll-to id="#addonnamespaces" class="h3"}} Addon namespaces{{/scroll-to}}
			{{#scroll-to id="#addonconventions" class="h3"}} Addon conventions{{/scroll-to}}
			{{#scroll-to id="#runninganexistingproject" class="h2"}} Running an existing project{{/scroll-to}}
			{{#scroll-to id="#creatinganaddonproject" class="h2"}} Creating an addon project{{/scroll-to}}
			{{#scroll-to id="#testinganaddon" class="h2"}} Testing an addon{{/scroll-to}}
			{{#scroll-to id="#publishinganaddon" class="h2"}} Publishing an addon{{/scroll-to}}
		{{/scroll-spy}}
	</div>
	<div class='footer'>
		<div class='info'>
			<div>
				<div class='contributors'>
					<span class="footerHeading">Contributors</span><div class='contributors-list'>Justin Lafleur</div>
			</div>
			<div class='connect'>
				<span class="footerHeading"></span>
					 
				</div>
			</div>
			<br/>
		</div>
		<div class='copyright'>
			
		</div>
	</div>
</div>