
<div class="markdown">
	<div class="content">
		{{markdown-to-html class="guide-markdown" ghCodeBlocks=true markdown=(fr-markdown-file-strip-number-prefix 'development/addon')}} 
	</div>
	<div class='right-col'>
		<div id='markdown-sidenav'>
			{{#scroll-to to="#overview"}} Overview{{/scroll-to}}
			{{#scroll-to to="#projectstructure"}} Project structure{{/scroll-to}}
			{{#scroll-to to="#addonnamespaces"}} Addon namespaces{{/scroll-to}}
			{{#scroll-to to="#addonconventions"}} Addon conventions{{/scroll-to}}
			{{#scroll-to to="#runninganexistingproject"}} Running an existing project{{/scroll-to}}
			{{#scroll-to to="#creatinganaddonproject"}} Creating an addon project{{/scroll-to}}
			{{#scroll-to to="#testinganaddon"}} Testing an addon{{/scroll-to}}
			{{#scroll-to to="#publishinganaddon"}} Publishing an addon{{/scroll-to}}
		</div>
	</div>
</div>