@import 'bourbon';
@import '../variables/colors';
@import '../variables/font-sizes';

.frost-info-bar {
	@include display-box;
	@include flex-direction(row);
	@include align-items(center);
	height: 90px;

	border-bottom: 1px solid $frost-color-lgrey-1;

	background-color: $frost-color-white;

	.title {
		margin-left: 30px;

		.primary-title {
			margin: 25px 0 10px 0;
			font-size: $frost-font-size-4;
			color: $frost-color-night-1;
		}

		.sub-title {
			margin-bottom: 20px;
			font-size: $frost-font-size-2;
			color: $frost-color-grey-5;
		}
	}

	.action {
		margin-left: auto;
		margin-right: 20px;
	}
}

.frost-info-bar .center {
	@include flex(1);
	height: 100%;
	@include display(flex);
	@include flex-direction(row);
	@include justify-content(center);
}
