
<div class="md">
      <div class="card">
        <div class="avatar">
          <a href="https://github.com/laflower">
            <img src="https://avatars.githubusercontent.com/u/11548575?v=3" height="75" width="75">
          </a>
        </div>
        <div class="card-block">
          <span class="card-row card-name">Justin Lafleur</span>
          <span class="card-row card-handle divider">laflower</span>
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
            {{#show-more}}
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
            {{/show-more}}

        </div>
      </div>      
      <div class="card">
        <div class="avatar">
          <a href="https://github.com/laflower">
            <img src="https://avatars.githubusercontent.com/u/11548575?v=3" height="75" width="75">
          </a>
        </div>
        <div class="card-block">
          <span class="card-row card-name">Justin Lafleur</span>
          <span class="card-row card-handle divider">laflower</span>
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
            {{#show-more}}
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
            {{/show-more}}

        </div>
      </div>
  <div class="card">
        <div class="avatar">
          <a href="https://github.com/laflower">
            <img src="https://avatars.githubusercontent.com/u/11548575?v=3" height="75" width="75">
          </a>
        </div>
        <div class="card-block">
          <span class="card-row card-name">Justin Lafleur</span>
          <span class="card-row card-handle divider">laflower</span>
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
            {{#show-more}}
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
            {{/show-more}}

        </div>
      </div>      
      <div class="card">
        <div class="avatar">
          <a href="https://github.com/laflower">
            <img src="https://avatars.githubusercontent.com/u/11548575?v=3" height="75" width="75">
          </a>
        </div>
        <div class="card-block">
          <span class="card-row card-name">Justin Lafleur</span>
          <span class="card-row card-handle divider">laflower</span>
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
            {{#show-more}}
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
            {{/show-more}}

        </div>
      </div>
  <div class="card">
        <div class="avatar">
          <a href="https://github.com/laflower">
            <img src="https://avatars.githubusercontent.com/u/11548575?v=3" height="75" width="75">
          </a>
        </div>
        <div class="card-block">
          <span class="card-row card-name">Justin Lafleur</span>
          <span class="card-row card-handle divider">laflower</span>
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
            {{#show-more}}
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
            {{/show-more}}

        </div>
      </div>      
      <div class="card">
        <div class="avatar">
          <a href="https://github.com/laflower">
            <img src="https://avatars.githubusercontent.com/u/11548575?v=3" height="75" width="75">
          </a>
        </div>
        <div class="card-block">
          <span class="card-row card-name">Justin Lafleur</span>
          <span class="card-row card-handle divider">laflower</span>
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
            {{#show-more}}
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
            {{/show-more}}

        </div>
      </div>
  <div class="card">
        <div class="avatar">
          <a href="https://github.com/laflower">
            <img src="https://avatars.githubusercontent.com/u/11548575?v=3" height="75" width="75">
          </a>
        </div>
        <div class="card-block">
          <span class="card-row card-name">Justin Lafleur</span>
          <span class="card-row card-handle divider">laflower</span>
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
            {{#show-more}}
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
            {{/show-more}}

        </div>
      </div>      
      <div class="card">
        <div class="avatar">
          <a href="https://github.com/laflower">
            <img src="https://avatars.githubusercontent.com/u/11548575?v=3" height="75" width="75">
          </a>
        </div>
        <div class="card-block">
          <span class="card-row card-name">Justin Lafleur</span>
          <span class="card-row card-handle divider">laflower</span>
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
            {{#show-more}}
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
            {{/show-more}}

        </div>
      </div>
  <div class="card">
        <div class="avatar">
          <a href="https://github.com/laflower">
            <img src="https://avatars.githubusercontent.com/u/11548575?v=3" height="75" width="75">
          </a>
        </div>
        <div class="card-block">
          <span class="card-row card-name">Justin Lafleur</span>
          <span class="card-row card-handle divider">laflower</span>
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
            {{#show-more}}
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
            {{/show-more}}

        </div>
      </div>      
      <div class="card">
        <div class="avatar">
          <a href="https://github.com/laflower">
            <img src="https://avatars.githubusercontent.com/u/11548575?v=3" height="75" width="75">
          </a>
        </div>
        <div class="card-block">
          <span class="card-row card-name">Justin Lafleur</span>
          <span class="card-row card-handle divider">laflower</span>
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
            {{#show-more}}
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
            {{/show-more}}

        </div>
      </div>
  <div class="card">
        <div class="avatar">
          <a href="https://github.com/laflower">
            <img src="https://avatars.githubusercontent.com/u/11548575?v=3" height="75" width="75">
          </a>
        </div>
        <div class="card-block">
          <span class="card-row card-name">Justin Lafleur</span>
          <span class="card-row card-handle divider">laflower</span>
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
            {{#show-more}}
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
            {{/show-more}}

        </div>
      </div>      
      <div class="card">
        <div class="avatar">
          <a href="https://github.com/laflower">
            <img src="https://avatars.githubusercontent.com/u/11548575?v=3" height="75" width="75">
          </a>
        </div>
        <div class="card-block">
          <span class="card-row card-name">Justin Lafleur</span>
          <span class="card-row card-handle divider">laflower</span>
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
            {{#show-more}}
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
            {{/show-more}}

        </div>
      </div>
  <div class="card">
        <div class="avatar">
          <a href="https://github.com/laflower">
            <img src="https://avatars.githubusercontent.com/u/11548575?v=3" height="75" width="75">
          </a>
        </div>
        <div class="card-block">
          <span class="card-row card-name">Justin Lafleur</span>
          <span class="card-row card-handle divider">laflower</span>
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
            {{#show-more}}
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
            {{/show-more}}

        </div>
      </div>      
      <div class="card">
        <div class="avatar">
          <a href="https://github.com/laflower">
            <img src="https://avatars.githubusercontent.com/u/11548575?v=3" height="75" width="75">
          </a>
        </div>
        <div class="card-block">
          <span class="card-row card-name">Justin Lafleur</span>
          <span class="card-row card-handle divider">laflower</span>
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
            {{#show-more}}
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
            {{/show-more}}

        </div>
      </div>
  <div class="card">
        <div class="avatar">
          <a href="https://github.com/laflower">
            <img src="https://avatars.githubusercontent.com/u/11548575?v=3" height="75" width="75">
          </a>
        </div>
        <div class="card-block">
          <span class="card-row card-name">Justin Lafleur</span>
          <span class="card-row card-handle divider">laflower</span>
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
            {{#show-more}}
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
            {{/show-more}}

        </div>
      </div>      
      <div class="card">
        <div class="avatar">
          <a href="https://github.com/laflower">
            <img src="https://avatars.githubusercontent.com/u/11548575?v=3" height="75" width="75">
          </a>
        </div>
        <div class="card-block">
          <span class="card-row card-name">Justin Lafleur</span>
          <span class="card-row card-handle divider">laflower</span>
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
            {{#show-more}}
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
            {{/show-more}}

        </div>
      </div>
  <div class="card">
        <div class="avatar">
          <a href="https://github.com/laflower">
            <img src="https://avatars.githubusercontent.com/u/11548575?v=3" height="75" width="75">
          </a>
        </div>
        <div class="card-block">
          <span class="card-row card-name">Justin Lafleur</span>
          <span class="card-row card-handle divider">laflower</span>
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
            {{#show-more}}
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
            {{/show-more}}

        </div>
      </div>      
      <div class="card">
        <div class="avatar">
          <a href="https://github.com/laflower">
            <img src="https://avatars.githubusercontent.com/u/11548575?v=3" height="75" width="75">
          </a>
        </div>
        <div class="card-block">
          <span class="card-row card-name">Justin Lafleur</span>
          <span class="card-row card-handle divider">laflower</span>
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
            {{#show-more}}
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
            {{/show-more}}

        </div>
      </div>
  <div class="card">
        <div class="avatar">
          <a href="https://github.com/laflower">
            <img src="https://avatars.githubusercontent.com/u/11548575?v=3" height="75" width="75">
          </a>
        </div>
        <div class="card-block">
          <span class="card-row card-name">Justin Lafleur</span>
          <span class="card-row card-handle divider">laflower</span>
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
            {{#show-more}}
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
            {{/show-more}}

        </div>
      </div>      
      <div class="card">
        <div class="avatar">
          <a href="https://github.com/laflower">
            <img src="https://avatars.githubusercontent.com/u/11548575?v=3" height="75" width="75">
          </a>
        </div>
        <div class="card-block">
          <span class="card-row card-name">Justin Lafleur</span>
          <span class="card-row card-handle divider">laflower</span>
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
            {{#show-more}}
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
            {{/show-more}}

        </div>
      </div>
  <div class="card">
        <div class="avatar">
          <a href="https://github.com/laflower">
            <img src="https://avatars.githubusercontent.com/u/11548575?v=3" height="75" width="75">
          </a>
        </div>
        <div class="card-block">
          <span class="card-row card-name">Justin Lafleur</span>
          <span class="card-row card-handle divider">laflower</span>
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
            {{#show-more}}
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
            {{/show-more}}

        </div>
      </div>      
      <div class="card">
        <div class="avatar">
          <a href="https://github.com/laflower">
            <img src="https://avatars.githubusercontent.com/u/11548575?v=3" height="75" width="75">
          </a>
        </div>
        <div class="card-block">
          <span class="card-row card-name">Justin Lafleur</span>
          <span class="card-row card-handle divider">laflower</span>
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
            {{#show-more}}
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
          <span class="card-row card-repo">frost-about-dialog</span>
          <span class="card-row card-repo">frost-checkbox</span>
          <span class="card-row card-repo">frost-link</span>
            {{/show-more}}

        </div>
      </div>
	<div class='footer'>
		<div class='info'>
			<div>
				<div class='contributors'>
					<span class="footerHeading">Contributors</span>Justin Lafleur
			</div>
			<div class='connect'>
				<span class="footerHeading">Connect</span>
					 Github Button here 
				</div>
			</div>
			<br/>
		</div>
		<div class='copyright'>
			
		</div>
	</div>
</div>

<style>
  .card{
    float: left;
    margin-left: 50px;
    margin-top: 50px;
    height: 150px;
    display: inline;
  }
  .card .avatar{
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    width: 75px;
    height: 75px;
  }
  .card .card-block{
    position: relative;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    width: 150px;
  }
  
  .card .card-row{
    width: 150px;
    display: block;
    position: relative;

  }
  
  .card .card-name{
    font-size: 18px;
    font-weight: bold;
  }
    
  .card .divider{
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 2px solid #eee;
  }
  
  .show-more{
    position: relative;
    background-color: white;
  }
  
  .more-button{
    cursor: pointer;
    text-align: center;
    padding: 0 .5em;
    color: #666;
    font-size: .9em;
    line-height: 2;
    border: 1px solid #ddd;
    border-radius: .25em;
    margin-top: 5px;
  }
</style>