<div class='md'>
	   {{#each model as |contributor|}}
		<div class='card'>
			<div class='avatar'>
				<a href='https://github.com/rox163'>
					<img src='{{contributor.avatar}}' height='75' width='75'>
				</a>
			</div>
			<div class='card-block'>
				<span class='card-row card-name'>{{contributor.name}}</span>
				<span class='card-row card-handle divider'>{{contributor.handle}}</span>
				<span class='card-row card-repo'>ember-frost-button, </span>
				<span class='card-row card-repo'>ember-frost-icons, </span>{{#show-more}}
				<span class='card-row card-repo'>ember-frost-text, </span>
				<span class='card-row card-repo'>ember-frost-checkbox, </span>
				<span class='card-row card-repo'>ember-frost-list, </span>
				<span class='card-row card-repo'>ember-frost-notifier, </span>
				<span class='card-row card-repo'>ember-frost-info-bar, </span>
				<span class='card-row card-repo'>ember-frost-scroll, </span>
				<span class='card-row card-repo'>ember-frost-tabs, </span>
				<span class='card-row card-repo'>ember-frost-loading, </span>
				<span class='card-row card-repo'>ember-frost-about-dialog, </span>
				<span class='card-row card-repo'>ember-frost-textarea, </span>
				<span class='card-row card-repo'>ember-frost-login, </span>
				<span class='card-row card-repo'>ember-frost-modal-input, </span>
				<span class='card-row card-repo'>ember-frost-bunsen</span>{{/show-more}}
			</div>
		</div>
        {{/each}}
		<div class='footer'>                     
			<div class='info'>                     
				<div>                     
					<div class='contributors'>                     
						<span class='footerHeading'>Contributors</span>Justin Lafleur - Eric White                    
					</div>                     
					<div class='connect'>                     
						<span class='footerHeading'>Connect</span>                     
						Github Button here                     
					</div>                     
				</div>                     
				<br/>                     
			</div>                     
			<div class='copyright'></div>                     
	</div>                     
</div>