
<div class="md">
	<div class="content-col">
      <div class="card">
		<a href="https://github.com/laflower">
          <img src="https://avatars.githubusercontent.com/u/11548575?v=3" height="200" width="200">
        </a>
        <div class="card-block">
          <span class="card-row card-name">Justin Lafleur</span>
          <span class="card-row card-handle divider">laflower</span>
          <span class="card-row card-repo">ciena-frost.github.io</span>
          <span class="card-row card-repo">ember-frost-scroll</span>
        </div>
      </div>
      <div class="card">
		<a href="https://github.com/ewhite613">
          <img src="https://avatars.githubusercontent.com/u/9057680?v=3" height="200" width="200">
        </a>
        <div class="card-block">
          <span class="card-row card-name">Eric White</span>
          <span class="card-row card-handle divider">ewhite613</span>
          <span class="card-row card-repo">ciena-frost.github.io</span>
          <span class="card-row card-repo">ember-frost-tabs</span>
        </div>
	  </div>
    </div>
	<div class='right-col'>
		<div id='md-scrollspy'>
		</div>
	</div>
	<div class='footer'>
		<div class='info'>
			<div>
				<div class='contributors'>
					<span class="footerHeading">Contributors</span>Justin Lafleur
			</div>
			<div class='connect'>
				<span class="footerHeading">Connect</span>
					 Github Button here 
				</div>
			</div>
			<br/>
		</div>
		<div class='copyright'>
			
		</div>
	</div>
</div>

<style>
  .card{
    float:left;
    margin-left: 20px;
    margin-top: 20px;
    width: 200px;
  }
  
  .card .card-row{
    width: 200px;
    display: block;
  }
  
  .card .card-name{
    font-size: 20px;
    font-weight: bold;
  }
  
  .card .card-handle{
    font-size: 18px;
  }
  
  .card .divider{
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 2px solid #eee;
  }
</style>