<div class='md'>
	<div >
		<div class='card'>
			<div class='avatar'>
				<a href='https://github.com/rox163'>
					<img src='https://avatars.githubusercontent.com/u/313318?v=3' height='75' width='75'>
				</a>
			</div>
			<div class='card-block'>
				<span class='card-row card-name'>Roxanne</span>
				<span class='card-row card-handle divider'>rox163</span>
				<span class='card-row card-repo'>ember-frost-button, </span>
				<span class='card-row card-repo'>ember-frost-icons, </span>{{#show-more}}
				<span class='card-row card-repo'>ember-frost-text, </span>
				<span class='card-row card-repo'>ember-frost-checkbox, </span>
				<span class='card-row card-repo'>ember-frost-list, </span>
				<span class='card-row card-repo'>ember-frost-notifier, </span>
				<span class='card-row card-repo'>ember-frost-info-bar, </span>
				<span class='card-row card-repo'>ember-frost-scroll, </span>
				<span class='card-row card-repo'>ember-frost-tabs, </span>
				<span class='card-row card-repo'>ember-frost-loading, </span>
				<span class='card-row card-repo'>ember-frost-about-dialog, </span>
				<span class='card-row card-repo'>ember-frost-textarea, </span>
				<span class='card-row card-repo'>ember-frost-login, </span>
				<span class='card-row card-repo'>ember-frost-modal-input, </span>
				<span class='card-row card-repo'>ember-frost-bunsen</span>{{/show-more}}
			</div>
		</div>
		<div class='card'>
			<div class='avatar'>
				<a href='https://github.com/job13er'>
					<img src='https://avatars.githubusercontent.com/u/411788?v=3' height='75' width='75'>
				</a>
			</div>
			<div class='card-block'>
				<span class='card-row card-name'>Adam Meadows</span>
				<span class='card-row card-handle divider'>job13er</span>
				<span class='card-row card-repo'>ember-frost-button, </span>
				<span class='card-row card-repo'>ember-frost-theme, </span>{{#show-more}}
				<span class='card-row card-repo'>ember-frost-icons, </span>
				<span class='card-row card-repo'>ember-frost-css-core, </span>
				<span class='card-row card-repo'>ember-frost-text, </span>
				<span class='card-row card-repo'>ember-frost-checkbox, </span>
				<span class='card-row card-repo'>ember-frost-about-dialog, </span>
				<span class='card-row card-repo'>ciena-frost.github.io</span>{{/show-more}}
			</div>
		</div>
		<div class='card'>
			<div class='avatar'>
				<a href='https://github.com/sandersky'>
					<img src='https://avatars.githubusercontent.com/u/422902?v=3' height='75' width='75'>
				</a>
			</div>
			<div class='card-block'>
				<span class='card-row card-name'>Matthew Dahl</span>
				<span class='card-row card-handle divider'>sandersky</span>
				<span class='card-row card-repo'>ember-frost-button, </span>
				<span class='card-row card-repo'>ember-frost-theme, </span>{{#show-more}}
				<span class='card-row card-repo'>ember-frost-select, </span>
				<span class='card-row card-repo'>ember-frost-icons, </span>
				<span class='card-row card-repo'>ember-frost-css-core, </span>
				<span class='card-row card-repo'>ember-frost-text, </span>
				<span class='card-row card-repo'>ember-frost-checkbox, </span>
				<span class='card-row card-repo'>ember-frost-list, </span>
				<span class='card-row card-repo'>ember-frost-link, </span>
				<span class='card-row card-repo'>ember-frost-scroll, </span>
				<span class='card-row card-repo'>ember-frost-tabs, </span>
				<span class='card-row card-repo'>ember-frost-loading</span>{{/show-more}}
			</div>
		</div>
		<div class='card'>
			<div class='avatar'>
				<a href='https://github.com/travis-ci-ciena'>
					<img src='https://avatars.githubusercontent.com/u/16954671?v=3' height='75' width='75'>
				</a>
			</div>
			<div class='card-block'>
				<span class='card-row card-name'>travis-ci-ciena</span>
				<span class='card-row card-handle divider'>travis-ci-ciena</span>
				<span class='card-row card-repo'>ember-frost-button, </span>
				<span class='card-row card-repo'>ember-frost-theme, </span>{{#show-more}}
				<span class='card-row card-repo'>ember-frost-select, </span>
				<span class='card-row card-repo'>ember-frost-icons, </span>
				<span class='card-row card-repo'>ember-frost-css-core, </span>
				<span class='card-row card-repo'>ember-frost-text, </span>
				<span class='card-row card-repo'>ember-frost-checkbox, </span>
				<span class='card-row card-repo'>ember-frost-list, </span>
				<span class='card-row card-repo'>ember-frost-link, </span>
				<span class='card-row card-repo'>ember-frost-notifier, </span>
				<span class='card-row card-repo'>ember-frost-info-bar, </span>
				<span class='card-row card-repo'>ember-frost-scroll, </span>
				<span class='card-row card-repo'>ember-frost-tabs, </span>
				<span class='card-row card-repo'>ember-frost-loading, </span>
				<span class='card-row card-repo'>ember-frost-password, </span>
				<span class='card-row card-repo'>ember-frost-about-dialog, </span>
				<span class='card-row card-repo'>ember-frost-textarea, </span>
				<span class='card-row card-repo'>ember-frost-sort, </span>
				<span class='card-row card-repo'>ember-frost-login, </span>
				<span class='card-row card-repo'>ember-frost-modal-input, </span>
				<span class='card-row card-repo'>ember-frost-navigation, </span>
				<span class='card-row card-repo'>ember-frost-bunsen</span>{{/show-more}}
			</div>
		</div>
		<div class='card'>
			<div class='avatar'>
				<a href='https://github.com/rajcoss'>
					<img src='https://avatars.githubusercontent.com/u/16906805?v=3' height='75' width='75'>
				</a>
			</div>
			<div class='card-block'>
				<span class='card-row card-name'>Nagarajan</span>
				<span class='card-row card-handle divider'>rajcoss</span>
				<span class='card-row card-repo'>ember-frost-button</span>
			</div>
		</div>
		<div class='card'>
			<div class='avatar'>
				<a href='https://github.com/laflower'>
					<img src='https://avatars.githubusercontent.com/u/11548575?v=3' height='75' width='75'>
				</a>
			</div>
			<div class='card-block'>
				<span class='card-row card-name'>Justin Lafleur</span>
				<span class='card-row card-handle divider'>laflower</span>
				<span class='card-row card-repo'>ember-frost-button, </span>
				<span class='card-row card-repo'>ember-frost-scroll, </span>{{#show-more}}
				<span class='card-row card-repo'>ciena-frost.github.io</span>{{/show-more}}
			</div>
		</div>
		<div class='card'>
			<div class='avatar'>
				<a href='https://github.com/EWhite613'>
					<img src='https://avatars.githubusercontent.com/u/9057680?v=3' height='75' width='75'>
				</a>
			</div>
			<div class='card-block'>
				<span class='card-row card-name'>Eric White</span>
				<span class='card-row card-handle divider'>EWhite613</span>
				<span class='card-row card-repo'>ember-frost-button, </span>
				<span class='card-row card-repo'>ember-frost-css-core, </span>{{#show-more}}
				<span class='card-row card-repo'>ember-frost-scroll, </span>
				<span class='card-row card-repo'>ember-frost-tabs, </span>
				<span class='card-row card-repo'>ciena-frost.github.io</span>{{/show-more}}
			</div>
		</div>
		<div class='card'>
			<div class='avatar'>
				<a href='https://github.com/sglanzer'>
					<img src='https://avatars.githubusercontent.com/u/9026198?v=3' height='75' width='75'>
				</a>
			</div>
			<div class='card-block'>
				<span class='card-row card-name'>Steven Glanzer</span>
				<span class='card-row card-handle divider'>sglanzer</span>
				<span class='card-row card-repo'>ember-frost-button, </span>
				<span class='card-row card-repo'>ember-frost-theme, </span>{{#show-more}}
				<span class='card-row card-repo'>ember-frost-select, </span>
				<span class='card-row card-repo'>ember-frost-css-core, </span>
				<span class='card-row card-repo'>ember-frost-checkbox, </span>
				<span class='card-row card-repo'>ember-frost-list, </span>
				<span class='card-row card-repo'>ember-frost-link, </span>
				<span class='card-row card-repo'>ember-frost-notifier, </span>
				<span class='card-row card-repo'>ember-frost-scroll, </span>
				<span class='card-row card-repo'>ember-frost-about-dialog, </span>
				<span class='card-row card-repo'>ember-frost-textarea, </span>
				<span class='card-row card-repo'>ciena-frost.github.io</span>{{/show-more}}
			</div>
		</div>
		<div class='card'>
			<div class='avatar'>
				<a href='https://github.com/chrisstoll'>
					<img src='https://avatars.githubusercontent.com/u/4751044?v=3' height='75' width='75'>
				</a>
			</div>
			<div class='card-block'>
				<span class='card-row card-name'>chrisstoll</span>
				<span class='card-row card-handle divider'>chrisstoll</span>
				<span class='card-row card-repo'>ember-frost-select, </span>
				<span class='card-row card-repo'>ember-frost-checkbox</span>
			</div>
		</div>
		<div class='card'>
			<div class='avatar'>
				<a href='https://github.com/agonzalez-cyan'>
					<img src='https://avatars.githubusercontent.com/u/7296133?v=3' height='75' width='75'>
				</a>
			</div>
			<div class='card-block'>
				<span class='card-row card-name'>agonzalez-cyan</span>
				<span class='card-row card-handle divider'>agonzalez-cyan</span>
				<span class='card-row card-repo'>ember-frost-select</span>
			</div>
		</div>
		<div class='card'>
			<div class='avatar'>
				<a href='https://github.com/cstolli'>
					<img src='https://avatars.githubusercontent.com/u/29387?v=3' height='75' width='75'>
				</a>
			</div>
			<div class='card-block'>
				<span class='card-row card-name'>Chris Stoll</span>
				<span class='card-row card-handle divider'>cstolli</span>
				<span class='card-row card-repo'>ember-frost-select, </span>
				<span class='card-row card-repo'>ember-frost-checkbox, </span>{{#show-more}}
				<span class='card-row card-repo'>ember-frost-about-dialog</span>{{/show-more}}
			</div>
		</div>
		<div class='card'>
			<div class='avatar'>
				<a href='https://github.com/agonza40'>
					<img src='https://avatars.githubusercontent.com/u/714503?v=3' height='75' width='75'>
				</a>
			</div>
			<div class='card-block'>
				<span class='card-row card-name'>Andres Gonzalez</span>
				<span class='card-row card-handle divider'>agonza40</span>
				<span class='card-row card-repo'>ember-frost-select, </span>
				<span class='card-row card-repo'>ember-frost-about-dialog</span>
			</div>
		</div>
		<div class='card'>
			<div class='avatar'>
				<a href='https://github.com/psbanka'>
					<img src='https://avatars.githubusercontent.com/u/1179791?v=3' height='75' width='75'>
				</a>
			</div>
			<div class='card-block'>
				<span class='card-row card-name'>Peter Banka</span>
				<span class='card-row card-handle divider'>psbanka</span>
				<span class='card-row card-repo'>ember-frost-select, </span>
				<span class='card-row card-repo'>ember-frost-checkbox</span>
			</div>
		</div>
		<div class='card'>
			<div class='avatar'>
				<a href='https://github.com/vesper2000'>
					<img src='https://avatars.githubusercontent.com/u/15364299?v=3' height='75' width='75'>
				</a>
			</div>
			<div class='card-block'>
				<span class='card-row card-name'>Gosia Hyndman</span>
				<span class='card-row card-handle divider'>vesper2000</span>
				<span class='card-row card-repo'>ember-frost-icons, </span>
				<span class='card-row card-repo'>ember-frost-text, </span>{{#show-more}}
				<span class='card-row card-repo'>ember-frost-checkbox, </span>
				<span class='card-row card-repo'>ember-frost-link, </span>
				<span class='card-row card-repo'>ember-frost-tabs, </span>
				<span class='card-row card-repo'>ember-frost-about-dialog, </span>
				<span class='card-row card-repo'>ember-frost-textarea, </span>
				<span class='card-row card-repo'>ember-frost-sort</span>{{/show-more}}
			</div>
		</div>
		<div class='card'>
			<div class='avatar'>
				<a href='https://github.com/nskrypnik'>
					<img src='https://avatars.githubusercontent.com/u/671664?v=3' height='75' width='75'>
				</a>
			</div>
			<div class='card-block'>
				<span class='card-row card-name'>Niko Skrypnik</span>
				<span class='card-row card-handle divider'>nskrypnik</span>
				<span class='card-row card-repo'>ember-frost-icons</span>
			</div>
		</div>
		<div class='card'>
			<div class='avatar'>
				<a href='https://github.com/quincyle'>
					<img src='https://avatars.githubusercontent.com/u/14845784?v=3' height='75' width='75'>
				</a>
			</div>
			<div class='card-block'>
				<span class='card-row card-name'>Quincy Le</span>
				<span class='card-row card-handle divider'>quincyle</span>
				<span class='card-row card-repo'>ember-frost-checkbox, </span>
				<span class='card-row card-repo'>ember-frost-password, </span>{{#show-more}}
				<span class='card-row card-repo'>ember-frost-navigation, </span>
				<span class='card-row card-repo'>ember-frost-app-bar</span>{{/show-more}}
			</div>
		</div>
		<div class='card'>
			<div class='avatar'>
				<a href='https://github.com/sophypal'>
					<img src='https://avatars.githubusercontent.com/u/756699?v=3' height='75' width='75'>
				</a>
			</div>
			<div class='card-block'>
				<span class='card-row card-name'>Sophy Pal</span>
				<span class='card-row card-handle divider'>sophypal</span>
				<span class='card-row card-repo'>ember-frost-notifier</span>
			</div>
		</div>
		<div class='card'>
			<div class='avatar'>
				<a href='https://github.com/oadeojo'>
					<img src='https://avatars.githubusercontent.com/u/17433579?v=3' height='75' width='75'>
				</a>
			</div>
			<div class='card-block'>
				<span class='card-row card-name'>oadeojo</span>
				<span class='card-row card-handle divider'>oadeojo</span>
				<span class='card-row card-repo'>ember-frost-scroll, </span>
				<span class='card-row card-repo'>ember-frost-tabs</span>
			</div>
		</div>
	</div>
</div>  <div class='footer'>     <div class='info'>       <div>         <div class='contributors'>           <span class='footerHeading'>Contributors</span>Justin Lafleur - Eric White      </div>       <div class='connect'>         <span class='footerHeading'>Connect</span>            Github Button here         </div>       </div>       <br/>     </div>     <div class='copyright'>           </div>   </div> 