
<div class="md">
	<div class="content-col">
      <div class="card">
        <div class="avatar">
          <a href="https://github.com/laflower">
            <img src="https://avatars.githubusercontent.com/u/11548575?v=3" height="75" width="75">
          </a>
        </div>
        <div class="card-block">
          <span class="card-row card-name">Justin Lafleur</span>
          <span class="card-row card-handle divider">laflower</span>
          <span class="card-row card-repo">
            frost-about-dialog, frost-checkbox, frost-link, 
            {{#show-more}}
            frost-about-dialog, frost-checkbox, frost-link, ciena-frost.github.io, ember-frost-scroll, frost-about-dialog, frost-checkbox, frost-link, ciena-frost.github.io, ember-frost-scroll,frost-about-dialog, frost-checkbox, frost-link, ciena-frost.github.io, ember-frost-scroll,frost-about-dialog, frost-checkbox, frost-link, ciena-frost.github.io, ember-frost-scroll,frost-about-dialog, frost-checkbox, frost-link, ciena-frost.github.io, ember-frost-scroll,frost-about-dialog, frost-checkbox, frost-link, ciena-frost.github.io, ember-frost-scroll,frost-about-dialog, frost-checkbox, frost-link, ciena-frost.github.io, ember-frost-scroll, 
            {{/show-more}}
          </span>
        </div>
      </div>
      <div class="card">
        <div class="avatar">
          <a href="https://github.com/laflower">
            <img src="https://avatars.githubusercontent.com/u/11548575?v=3" height="75" width="75">
          </a>
        </div>
        <div class="card-block">
          <span class="card-row card-name">Justin Lafleur</span>
          <span class="card-row card-handle divider">laflower</span>
          <span class="card-row card-repo">
            ciena-frost.github.io, ember-frost-scroll, frost-about-dialog, frost-checkbox, frost-link, 
            {{#show-more}}frost-about-dialog, frost-checkbox, frost-link,{{/show-more}}
          </span>
        </div>
      </div>
            <div class="card">
        <div class="avatar">
          <a href="https://github.com/laflower">
            <img src="https://avatars.githubusercontent.com/u/11548575?v=3" height="75" width="75">
          </a>
        </div>
        <div class="card-block">
          <span class="card-row card-name">Justin Lafleur</span>
          <span class="card-row card-handle divider">laflower</span>
          <span class="card-row card-repo">
            frost-about-dialog, frost-checkbox, frost-link, 
            {{#show-more}}
            frost-about-dialog, frost-checkbox, frost-link, ciena-frost.github.io, ember-frost-scroll, frost-about-dialog, frost-checkbox, frost-link, ciena-frost.github.io, ember-frost-scroll,frost-about-dialog, frost-checkbox, frost-link, ciena-frost.github.io, ember-frost-scroll,frost-about-dialog, frost-checkbox, frost-link, ciena-frost.github.io, ember-frost-scroll,frost-about-dialog, frost-checkbox, frost-link, ciena-frost.github.io, ember-frost-scroll,frost-about-dialog, frost-checkbox, frost-link, ciena-frost.github.io, ember-frost-scroll,frost-about-dialog, frost-checkbox, frost-link, ciena-frost.github.io, ember-frost-scroll, 
            {{/show-more}}
          </span>
        </div>
      </div>
      <div class="card">
        <div class="avatar">
          <a href="https://github.com/laflower">
            <img src="https://avatars.githubusercontent.com/u/11548575?v=3" height="75" width="75">
          </a>
        </div>
        <div class="card-block">
          <span class="card-row card-name">Justin Lafleur</span>
          <span class="card-row card-handle divider">laflower</span>
          <span class="card-row card-repo">
            ciena-frost.github.io, ember-frost-scroll, frost-about-dialog, frost-checkbox, frost-link, 
            {{#show-more}}frost-about-dialog, frost-checkbox, frost-link,{{/show-more}}
          </span>
        </div>
      </div>
      
    </div>
	<div class='right-col'>
		<div id='md-scrollspy'>
		</div>
	</div>
	<div class='footer'>
		<div class='info'>
			<div>
				<div class='contributors'>
					<span class="footerHeading">Contributors</span>Justin Lafleur
			</div>
			<div class='connect'>
				<span class="footerHeading">Connect</span>
					 Github Button here 
				</div>
			</div>
			<br/>
		</div>
		<div class='copyright'>
			
		</div>
	</div>
</div>

<style>
  .card{
    float:left;
    margin-left: 20px;
    margin-top: 20px;
    height:150px;
    width: 325px;
    display: inline;
  }
  .card .avatar{
    float:left;
    margin-left: 20px;
    margin-top: 20px;
    width: 75px;
    height:75px;
  }
  .card .card-block{
    float:left;
    margin-left: 20px;
    margin-top: 20px;
    width: 200px;
  }
  
  .card .card-row{
    width: 200px;
    display: block;
    position: relative;

  }
  
  .card .card-name{
    font-size: 18px;
    font-weight: bold;
  }
    
   .card .card-row{
    width: 200px;
    display: block;

  }
  
  .card .divider{
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 2px solid #eee;
  }
</style>