.frost-navigation-sidebar-menu .sub-category {
}

.frost-navigation-sidebar-menu .sub-category > .frost-button.category {
  @include display(flex);
  @include flex-direction(row);
  @include align-items(center);
  text-align: left;
}

.frost-navigation-sidebar-menu .sub-category > .frost-button.category.expanded {
  width: 100%;
  background-color: $frost-color-lgrey-3;
}

.frost-navigation-sidebar-menu .sub-category-items {

}

.frost-navigation-sidebar-menu .sub-category-items .frost-button.category,
.frost-navigation-sidebar-menu .sub-category-items .frost-link.route {
  padding-left: 40px;
  border: none;
}

.frost-navigation-sidebar-menu .sub-category-items .sub-category-items .frost-button.category,
.frost-navigation-sidebar-menu .sub-category-items .sub-category-items .frost-link.route {
  padding-left: 80px;
}

.frost-navigation-sidebar-menu .sub-category-items .frost-link.route.active {
  color: $frost-color-white;
  background-color: $frost-color-blue-1;
}
