<h2 id="title">Welcome to Ember</h2>

{{markdown-to-html markdown="#Markdown is cool [link](http://emberjs.com)"}}

{{markdown-to-html markdown=test}}

{{markdown-to-html markdown=(fr-markdown-file 'test')}}

{{outlet}}
